@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #6750A4;
    --color-primary-hover: #4c387e;
    --color-primary-dark-hover: #7765b3;
    --color-secondary-dark: #D0BCFF;
    --color-secondary-dark-hover: #af90ed;
}

html {
    --line-color: #e5e7eb;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

